extends layout.pug

block content

  article.portfolio-intro
 
    h1 Stephan Moskal's Portfolio

    p This portfolio was created for Project 6 in the Full Stack JavaScipt course presented by TeamTreehouse.com. Please click on a project to learn more.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      // loop over each of the projects and create links on the main page

      each project in projects
            .cell
                    a(href=`/project/${project.id}`)
                            img.thumbnail.project-thumb(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
                            h5= project.project_name

